
html,
body,
#root {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #67c1dc;
  font-family: "Nunito Sans", "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}