
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;

  color: rgba(255, 255, 255, 0.9);
  background-color: #1e4c5b;
 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background-color: #5e65e4;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.25s ease;
}

a:hover {
  color: #cdd9ff;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #ffffff;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  background-color: #000000cc;
  color: #ffffff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #5e65e4;

  }

  button {
    background-color: #f9f9f9;
    color: #213547;
  }

  a:hover {
    color: #ffffff;
  }
}