.weather-container {
  width: 90%;
  height: 300px;
  background-color: #000000e2;
  border-radius: 20px;
  padding: 20px 30px;
  margin-bottom: 30px;
}

.loader-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.heading {
  color: #67c1dc;
  font-size: 30px;
  font-weight: 400;
}

.weather-data-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  min-height: 260px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.right-container {
  height: 100%;
  padding: 20px;
  margin-left: -60px;
}

.form-container {
  display: flex;
  justify-content: flex-start;
}

.input-box {
  border: solid #67c1dc 3px;
  border-right: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  font-weight: 600;
  height: 30px;
  width: 180px;
  padding-left: 10px;
  background-color: #00000000;
  color: #fff;
}

.input-box::placeholder {
  color: #fff;
}

.search-button {
  border-left: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: 3px solid #67c1dc;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s ease;
  background-color: #67c1dc;
  color: #000000e2;
  font-weight: 600;
  font-size: 16px;
  height: 38px;
  width: 100px;
}

.city-name {
  font-size: 30px;
  margin: 10px 0px;
}

.temperature-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  min-height: auto;

}

.temperature-value {
  font-size: 50px;
}

.temp-icon {
  font-size: 100px;
  color: #fff;
  margin-left: -20px;
}

.degree-icon {
  color: #67c1dc;
}

.left-container {
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: start;
}

.minmax p {
  font-size: 20px;
  color: #67c1dc;
}

.minmax span {
  font-weight: 600;
  color: #fff;
  margin-right: 5px;
}

.weather-icon {
  font-size: 200px;
  color: #67c1dc;
  margin-bottom: -20px;
  margin-top: -30px;

}

.extra-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  /* margin-left: 70px; */
}

.extra-details span {
  font-weight: 600;
  color: #fff;
  margin-right: 5px;
}

.extra-details p {
  font-size: 20px;
  color: #67c1dc;
}

.error-container {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-container p {
  color: Red;
  font-size: 20px;
  font-weight: 600;
}

.error-container button {
  border-radius: 5px;
  border: 3px solid #67c1dc;
  font-family: inherit;
  cursor: pointer;
  background-color: #67c1dc;
  color: #000000e2;
  font-weight: 600;
  font-size: 16px;
  height: 30px;
  width: 100px;
}