.quote-container{
  width: 90%;
  height: 210px; 
  background-color: #000000e2;
  border-radius: 20px;
  padding: 20px 30px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.top-contaier{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.refesh-button{
  border-radius: 10px;
  border: 3px solid #67c1dc;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s ease;
  background-color: #67c1dc;
  color: #000000e2;
  font-weight: 600;
  font-size: 16px;
  height: 38px;
  width: 100px;
}

.heading{
  font-weight: 550;
  font-size: 30px;
}

.data-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.quote{
  font-size: 24px;
  font-style: italic;
  align-self: center;
  font-weight: 600;
  height: 100px;
}

.quote-details{
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 10px;
}

.quote-details p {
  margin: 1px 0; 
  color: #67c1dc;
  font-size: 18px;
  
}

.quote-details span{
  font-weight: 600;
  color: #ffffff;
}


